body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  background: #f9f9f9;
}

header {
  background-color: #222;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

a {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

a:hover {
  background: #0056b3;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #666;
}
